<h1><%= @list.name %></h1>

<% if @movies %>
  <% @movies.each do |movie| %>
    <%= movie.title %><br>
    <image src="(<%= movie.poster_url %>)">
    <%# <%= link_to "remove", bookmark_path(@bookmark),
              data: { turbo_method: :delete, turbo_confirm: "U sure?!" } %>
  <% end %>
<% end %>

  <%# <%= link_to "+Add movies to the list", list_id_bookmarks_path %>

  <%= link_to "go back",lists_path %>

  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>
